[user]
    name = Seth Jackson
    email = sethjackson@gmail.com
[core]
    autocrlf = false
[init]
    defaultBranch = main
[diff]
    algorithm = histogram
[fetch]
    prune = true
[push]
    autoSetupRemote = true
